# Build output
out/
rust/target/

# Editor / temporary files
*~
*.autosave
*.orig
*.rej
.*.swp
*.kate-swp
core
!core/

# Qt Creator
*.pro.user*
CMakeLists.txt.user*
.qtcreator/

# Python (for build scripts)
*.pyc

# Project trash
.trash/
